# Auto detect text files and perform LF normalization
*       text=auto

# Always perform LF normalization on these files
*.md    text eol=lf
*.vue   text eol=lf
*.js    text eol=lf
*.jsx   text eol=lf
*.ts    text eol=lf
*.tsx   text eol=lf
*.ejs   text eol=lf
*.hbs   text eol=lf
*.json  text eol=lf
*.html  text eol=lf
*.css   text eol=lf
*.scss  text eol=lf

# Never perform LF normalization on these files
*.png   binary
*.jpg   binary
*.ico   binary
*.webp  binary
*.ttf   binary
*.woff  binary
*.woff2 binary
*.wasm  binary
